* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'Helvetica', sans-serif;
}

.info {
  margin-bottom: 10px;
}

.info:nth-last-child(1) {
  margin-bottom: 0;
}

#logo {
  width: 145px;
  margin-right: 20px;
}

header {
  background: #d2c1a7;
  padding: 15px;
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  background-color: #d2c1a7;
  top: 0;
}

.navbar ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex-end .navbar ul li;
      -ms-flex-pack: flex-end .navbar ul li;
          justify-content: flex-end .navbar ul li;
  justify-content-padding: 10px;
}

.navbar > ul > li > a {
  text-decoration: none;
  color: black;
}

.navbar > ul > li > a:hover {
  text-decoration: underline;
  color: white;
}

.navbar > ul > li > a:active {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

main {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: 30px;
}

@media (max-width: 425px) {
  h1 {
    font-size: 23px;
  }
}

@media (min-width: 426px), (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-family: 'Staatliches', monospace;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
}

@media (max-width: 425px) {
  h2 {
    font-size: 40px;
  }
}

@media (min-width: 426px), (max-width: 768px) {
  h2 {
    font-size: 40px;
  }
}

.content {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  background: #cccccc;
  margin-left: 10px;
  padding: 10px;
  width: 100%;
}

.content p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 10px;
}

.content #produktlista {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content #produktlista .produktbild {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: calc(80vw / 3);
}

@media (max-width: 425px) {
  .content #produktlista li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
  }
}

@media (max-width: 425px) {
  .content {
    margin: 0;
    padding: 5px;
  }
}

#sidebar {
  background: #928573;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  max-width: 187px;
  min-width: 167px;
  border: 1px solid black;
  padding: 8px;
}

@media (max-width: 425px) {
  #sidebar {
    width: 100%;
    max-width: 100%;
    margin: 10px 0;
  }
}

#info-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 8pt;
  text-align: center;
}

footer > div {
  margin-top: 8px;
}
/*# sourceMappingURL=style.css.map */