$color-menu:rgb(210, 193, 167);
$color-background: rgb(210, 193, 167);

@mixin for-phone {
    @media (max-width: 425px) { @content; }
}

@mixin for-tablet {
    @media (min-width: 426px), (max-width: 768px) { @content; }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s ease;
}

h1 {
    font-family:'Amatic SC', cursive;
    font-size: 50px;
    align-self: center;
    margin-right: 30px;

    @include for-tablet {
        font-size: 40px;
    }

    @include for-phone {
        font-size: 10px;
    }
}

h2 {
    font-family: 'Staatliches', monospace;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;

    @include for-tablet {
        font-size: 20px;
    } 
    
    @include for-phone {
        font-size: 20px;
    }
}

a {
    text-decoration: none;
    color: black;
    
    &:hover {
        text-decoration: underline;
        color: white;
    }
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    text-align: center;
}

#logo {
    width: 145px;
    margin-right: 20px;
}

header {
    background: $color-menu;
    padding: 15px;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar {
    display: flex;
    position: sticky;
    background-color: $color-background;
    top: 0;

    & ul {
        width: 100%;
        justify-content: flex-end;

    @include for-phone {
        flex-direction: column;
    } 
        
        & li {
            padding: 10px;
        }
    }
}

main {
    padding: 10px 0;
    display: flex;

    @include for-phone {
        flex-wrap: wrap-reverse;
    }
}

.content {
    flex-wrap: wrap;
    background: rgb(204, 204, 204);
    margin-left: 10px;
    padding: 10px;
    width: 100%;

    p {
        font-size: 14px;
        padding: 10px;
    }

    #produktlista {
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;

        li {
            flex-direction: column;
            min-width: 50px;

            .produktbild {
                width: 300px;
                margin: 10px;

                @include for-tablet {
                    width: 200px;
                }
            }
        }
    }

    #recept {
        flex-direction: row;
        justify-content: center;
        align-content: center;
        li {
            display: flex;
            flex-direction: column;
            &:nth-child(2) {
                margin-left: 20px;
            }
            a {
                text-align: center;
                padding: 10px;
                width: 100%;
            }
        }
    }

    @include for-phone {
        margin: 0;
        padding: 5px;
    }
}

#sidebar {
    background: rgb(146, 133, 115);
    font-size: 12px;
    color: white;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 3;
    border: 1px solid black;
    padding: 12px;
    min-width: 175px;

    @include for-phone {
        width: 100%;
        max-width: 100%;
        margin: 10px 0;
    }
}

.info {
    margin-bottom: 10px;

    &:nth-last-child(1) {
        margin-bottom: 0;
    }
}

#info-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

footer {
    font-weight: lighter;
    font-size: 8pt;
    text-align: center;

    & > div {
        margin-top: 8px;
    }
}