$color-menu:rgb(210, 193, 167); /* Beige */
$color-base: #fff; /* White */
$color-sidebar: #000; /* Black */
$text-handwritten-title: 'Amatic SC', cursive; /* Capitalized lettering */
$text-handwritten-paragraph: 'Shadows Into Light', cursive;
$text-boxy: 'Staatliches', monospace;

@mixin for-tablet() {
    @media screen and (min-width: 670px) and (max-width: 768px) { 
        @content; 
    }
}

@mixin for-small-tablet() {
    @media screen and (min-width: 426px) and (max-width: 669px) { 
        @content; 
    }
}

@mixin for-phone() {
    @media screen and (max-width: 425px) { 
        @content; 
    }
}

/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s ease;
}

body {
    background-image: url("./assets/img/patrick-fore-m9qWesqRN0M-unsplash.jpg");
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include for-tablet() {
        background-position: right;
    }
}

main {
    padding: 10px 0;
    display: flex;
    width: 75%;
    margin: 0 auto;

    @include for-tablet() {
        width: 85%;
    }

    @include for-small-tablet() {
        width: 80%;
        flex-wrap: wrap-reverse;
    }

    @include for-phone() {
        flex-wrap: wrap-reverse;
        width: 100%;
        margin: 0;
    }
}

h1 {
    font-family: $text-handwritten-title;
    font-size: 50px;
    align-self: center;
    margin-left: 30px;

    @include for-tablet() {
        font-size: 50px;
    }

    @include for-phone() {
        font-size: 30px;
    }
}

h2 {
    font-family: $text-boxy;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;

    @include for-tablet() {
        font-size: 38px;
    } 

    @include for-small-tablet() {
        font-size: 48px;
    }
    
    @include for-phone() {
        font-size: 35px;
    }
}

a {
    text-decoration: none;
    color: black;
    
    &:hover {
        text-decoration: underline;
        color: white;
    }
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    text-align: center;
}

/* BANNER */
header {
    background: $color-menu;
    padding: 20px;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

#logo {
    width: 250px;
    @include for-phone() {
        margin-right: 30px;
        width: 150px;
    }
}

/* TOPPMENY */
.navbar {
    display: flex;
    position: sticky;
    z-index: 1;
    padding: 15px;
    background-color: $color-background;
    top: 0;

    @include for-phone() {
        position: relative;
    }

    ul {
        width: 100%;
        justify-content: flex-end;

         @include for-phone() {
            flex-direction: column;
         }
        
        li {
            padding: 10px;
        }
    }
}

.navbar a {
    @include for-phone() {
        background-color: rgba($color-base, 0.7);
        font-size: 22px;
        display: block;
        line-height: 30px;
        border: solid black 1px;
        border-radius: 5px;
    }
}

/* HUVUDINNEHÅLL */
.content {
    flex-wrap: wrap;
    background: rgba( $color-base, .7 );
    margin-left: 10px;
    padding: 10px;
    width: 100%;

    @include for-tablet() {
        background: rgba( $color-base, .85 );
    }

    @include for-small-tablet() {
        margin: 0;
    }

    @include for-phone() {
        margin: 0;
        padding: 5px;
    }

    p {
        font-size: 28px;
        font-family: $text-handwritten-paragraph;
        padding: 10px;
        text-align: center;
    }

    ul#produktlista {
        margin-top: 30px;
        background-color: $color-base;
        padding: 20px 20px 30px 20px;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;

        h3 {
            font-family: $text-handwritten-title;
            font-size: 35px;
        }

        li {
            flex-direction: column;
            min-width: 50px;
        }
    }

    .produktbild {
        width: 220px;
        margin: 10px;

        @include for-tablet() {
            width: 200px;
        }

        @include for-phone() {
            width: 200px;
        }
    }
}

/* RECEPT PÅ CHOKLADBOLLAR */
#recept {
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;

    @include for-phone() {
        width: 100%;
    }

    a {
        text-align: center;
        padding: 20px;
        @include for-phone() {
            background-color: rgba($color-base, 0.7);
            font-size: 22px;
            display: block;
            line-height: 30px;
            border: solid black 1px;
            border-radius: 5px;
            margin: 15px 0;
        }
    }
}

/* PDF */

embed {
    width: 374px;
    @include for-tablet() {
        width: 375px;
    }
    @include for-phone() {
        width: 100%;
    }
}

#sidebar {
    background: rgba($color-sidebar, 0.7);
    font-size: 16px;
    color: white;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 3;
    border: 1px solid black;
    padding: 20px;
    min-width: 165px;

    @include for-phone() {
        width: 100%;
        max-width: 100%;
        margin: 10px 0;
    }
}

/* INFO PARAGRAPHS */

.info {
    margin-bottom: 10px;

    &:nth-last-child(1) {
        margin-bottom: 0;
    }
}

footer {
    padding: 16px;
    background-color: $color-sidebar;
    color: $color-base;
    font-weight: lighter;
    font-size: 8pt;
    text-align: center;

    div {
        margin-top: 8px;
    }
}