@charset "UTF-8";
/* Beige */
/* White */
/* Black */
/* Capitalized lettering */
/* GENERAL */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

body {
  background-image: url("./assets/img/patrick-fore-m9qWesqRN0M-unsplash.jpg");
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 670px) and (max-width: 768px) {
  body {
    background-position: right;
  }
}

main {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 75%;
  margin: 0 auto;
}

@media screen and (min-width: 670px) and (max-width: 768px) {
  main {
    width: 85%;
  }
}

@media screen and (min-width: 426px) and (max-width: 669px) {
  main {
    width: 80%;
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
}

@media screen and (max-width: 425px) {
  main {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    width: 100%;
    margin: 0;
  }
}

h1 {
  font-family: "Amatic SC", cursive;
  font-size: 50px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 30px;
}

@media screen and (min-width: 670px) and (max-width: 768px) {
  h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 425px) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-family: "Staatliches", monospace;
  font-size: 50px;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
}

@media screen and (min-width: 670px) and (max-width: 768px) {
  h2 {
    font-size: 38px;
  }
}

@media screen and (min-width: 426px) and (max-width: 669px) {
  h2 {
    font-size: 48px;
  }
}

@media screen and (max-width: 425px) {
  h2 {
    font-size: 35px;
  }
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: white;
}

ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li {
  text-align: center;
}

/* BANNER */
header {
  background: #d2c1a7;
  padding: 20px;
  height: 150px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

#logo {
  width: 250px;
}

@media screen and (max-width: 425px) {
  #logo {
    margin-right: 30px;
    width: 150px;
  }
}

/* TOPPMENY */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  padding: 15px;
  background-color: #d2c1a7;
  top: 0;
}

@media screen and (max-width: 425px) {
  .navbar {
    position: relative;
  }
}

.navbar ul {
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 425px) {
  .navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.navbar ul li {
  padding: 10px;
}

@media screen and (max-width: 425px) {
  .navbar a {
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 22px;
    display: block;
    line-height: 30px;
    border: solid black 1px;
    border-radius: 5px;
  }
}

/* HUVUDINNEHÅLL */
.content {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: rgba(255, 255, 255, 0.7);
  margin-left: 10px;
  padding: 10px;
  width: 100%;
}

@media screen and (min-width: 670px) and (max-width: 768px) {
  .content {
    background: rgba(255, 255, 255, 0.85);
  }
}

@media screen and (min-width: 426px) and (max-width: 669px) {
  .content {
    margin: 0;
  }
}

@media screen and (max-width: 425px) {
  .content {
    margin: 0;
    padding: 5px;
  }
}

.content p {
  font-size: 28px;
  font-family: "Shadows Into Light", cursive;
  padding: 10px;
  text-align: center;
}

.content ul#produktlista {
  margin-top: 30px;
  background-color: #fff;
  padding: 20px 20px 30px 20px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content ul#produktlista h3 {
  font-family: "Amatic SC", cursive;
  font-size: 35px;
}

.content ul#produktlista li {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 50px;
}

.content .produktbild {
  width: 220px;
  margin: 10px;
}

@media screen and (min-width: 670px) and (max-width: 768px) {
  .content .produktbild {
    width: 200px;
  }
}

@media screen and (max-width: 425px) {
  .content .produktbild {
    width: 200px;
  }
}

/* RECEPT PÅ CHOKLADBOLLAR */
#recept {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 425px) {
  #recept {
    width: 100%;
  }
}

#recept a {
  text-align: center;
  padding: 20px;
}

@media screen and (max-width: 425px) {
  #recept a {
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 22px;
    display: block;
    line-height: 30px;
    border: solid black 1px;
    border-radius: 5px;
    margin: 15px 0;
  }
}

/* PDF */
embed {
  width: 374px;
}

@media screen and (min-width: 670px) and (max-width: 768px) {
  embed {
    width: 375px;
  }
}

@media screen and (max-width: 425px) {
  embed {
    width: 100%;
  }
}

#sidebar {
  background: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-negative: 3;
      flex-shrink: 3;
  border: 1px solid black;
  padding: 20px;
  min-width: 165px;
}

@media screen and (max-width: 425px) {
  #sidebar {
    width: 100%;
    max-width: 100%;
    margin: 10px 0;
  }
}

/* INFO PARAGRAPHS */
.info {
  margin-bottom: 10px;
}

.info:nth-last-child(1) {
  margin-bottom: 0;
}

video {
  width: 100%;
}

footer {
  padding: 16px;
  background-color: #000;
  color: #fff;
  font-weight: lighter;
  font-size: 8pt;
  text-align: center;
}

footer div {
  margin-top: 8px;
}
/*# sourceMappingURL=style.css.map */